<div class="row" ng-controller='routesIndexCtrl' ng-init="init(<%=@routes_json%>)">
  <div class="col-md-10">
    <div class="map_container">
      <div id="map-canvas" class="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="mapOptions" events="events">
    <ui-gmap-polylines models="polyLines" path="'path'" stroke="'stroke'" visible="'visible'" static="'false'"
    geodesic="'geodesic'" fit="false" editable="'editable'" draggable="'draggable'" icons="'icons'" ></ui-gmap-polylines>
    <ui-gmap-markers models="stops" coords="'self'" doCluster="'true'" click="selectMarker" >
      <ui-gmap-windows show="show">
	<div ng-non-bindable>{{title}}</div>
      </ui-gmap-windows>	   	
    </ui-gmap-markers>
    </ui-gmap-google-map>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
	<button class="btn btn-default btn-block" style="margin-bottom:10px" ng-click="toggle()" >Toggle All</button>
      </div>
    </div>
    <div class="row">
<div class="col-md-6">
    <button ng-repeat="route in routes" ng-click="selectButton(route)" type="button" class="btn btn-default btn-block"><span ng-style="{color: route.color}">{{route.tag}}</span></button>
  </div>
  <div class="col-md-6">
     <button ng-repeat="route in routes2" ng-click="selectButton(route)" type="button" class="btn btn-default btn-block"><span ng-style="{color: route.color}">{{route.tag}}</span></button>
  </div>
</div>
    </div>
  </div>
  
