<div ng-controller='routesIndexCtrl' ng-init="init(<%=@routes_json%>)">
  <h1> {{message}}</h1>
  <div id="map_canvas" width="500px" height='500px' >
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events="events">
    <ui-gmap-polylines models="polyLines" path="'path'" stroke="'stroke'" visible="'visible'" static="'false'"
    geodesic="'geodesic'" fit="false" editable="'editable'" draggable="'draggable'" icons="'icons'" options="markerOptions"></ui-gmap-polylines>
    <ui-gmap-markers models="stops" coords="'self'" doCluster="'true'" control="markerControl" click="selectMarker">
      <ui-gmap-windows show="show">
	<div ng-non-bindable>{{title}}</div>
      </ui-gmap-windows>	   	
    </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>
